.page {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

body {
    cursor: url("../images/default-cursor.png"), auto !important;
}

button:hover {
    cursor: url("../images/grab-cursor.png"), auto !important;
}

.panel {
    border-radius: 5px;
    border-width: 10px;
    border-style: solid;
}

button {
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    height: 40px;
    width: 90px;
}