#nav-bar {
    height: 50px;
    width: min-content;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bold;
}

.nav-btn {
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    margin: 0px 30px;
}

.nav-btn:hover {
    cursor: url("../images/grab-cursor.png"), auto !important;
}